body {
background-color: floralwhite;
    padding: 20px 20px 4px
}

.lineOne {
font-family: 'Raleway', sans-serif;
font-size: 40pt;
font-weight: 600;
    line-height: 0.1;
}
.linepara{
    font-family:'raleway', sans-serif;
font-size: 15pt;
font-weight: 900;

}
.lineTwo{
font-family:'raleway', sans-serif;
font-size: 15pt;
font-weight: 900;
line-height: .5
}

.lineThree{
font-family:'raleway', sans-serif;
font-size: 10pt;
}


