body {
background-color: floralwhite
}

.lineOne {
font-family: 'Shadows Into Light Two', cursive;
font-size: 60pt;
line-height: 0.1;
font-weight: 600
}

.lineTwo{
font-family:'Shadows Into Light Two', cursive;
font-size: 15pt;
font-weight: 900;
line-height: .5
}

.lineThree{
font-family:'Shadows Into Light Two', cursive;
font-size: 15pt;
}


